* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  object-fit: contain;
  /* keeps the IG logo exactly the same size no matter the viewport. modelled after IG IRL */
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  position: fixed;
  width: 100%;
  z-index: 1;
  
}

.IGLogo {
  height: 50px;
  
}

.row {
  display: flex;

}

.navBar {
  display: inline;
    position: fixed;
  right: 30px;

}

.navIcon {
  display: inline;
}
